/*----------------------------------
FOOTER
------------------------------------*/
footer {
	text-align: right;
	position: fixed;
	bottom: 5px;
	font-size: small;
	width: 100%;
	z-index: -100;
	right: 5px;
}
